[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
pylint-django = "*"
"autopep8" = "*"

[packages]
django = "*"
django-taggit = "*"
django-taggit-serializer = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-debug-toolbar = "*"
django-rest-swagger = "*"
pillow = "*"

[requires]
python_version = "3.6"
