{% extends "base.html" %} {% block breadcrumb %}
<li>
    <a href="{% url 'alternatives:alternative_list' %}">Categories</a>
</li>
<li class="active">New</li>
{% endblock breadcrumb %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- Horizontal Form -->
        <form role="form" method="POST">
            {% csrf_token %}
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">New Alternative</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group {% if form.name.errors %} has-error {% endif %}">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" placeholder="Description">{{ form.description.value|default:'' }}</textarea> 
                        {% if form.description.errors %}
                            {% for error in form.name.errors %}
                            <span class="help-block">{{ error }}</span>
                            {% endfor %} 
                        {% endif %}
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="text-right">
                        <div class="btn-group">
                            <a href="{% url 'alternatives:alternative_list' %}" class="btn btn-default"> Cancel</a>
                            <button type="submit" name="saveandnew" value="Save and New" class="btn btn-default">Save and New</button>
                            <button type="submit" name="save" value="Save" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-footer -->
            </div>
        </form>
    </div>
</div>
{% endblock content %}