[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django-taggit = "*"
djangorestframework = "*"
django-rest-swagger = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.6"
