{% extends 'base.html' %}

{% load static %}

{% block content %}

{% for course in courses %}
<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
	<div class="card h-100">
		<a href="#">
			{% if course.image %}
			<img class="card-img-top" src="{{ course.image.url }}" alt="">
			{% else %}
			<img class="card-img-top" src="http://placehold.it/700x400" alt="">
			{% endif %}
		</a>
		<div class="card-body">
			<h4 class="card-title">
				<a href="#">{{ course.title }}</a>
			</h4>
			<p class="card-text">{{ course.description }}</p>
		</div>
	</div>
</div>
{% endfor %}

{% endblock %}