{% extends 'base.html' %} 

{% load static %} 

{% block css %}
<link href="{% static 'courses/css/style.css' %}" rel="stylesheet">
{% endblock %} 

{% block content %} 
{% for course in courses %}
<div class="col-lg-4 col-sm-6 portfolio-item">
	<div class="card h-100">
		{% if course.image %}
		<img class="card-img-top" src="{{ course.image.url }}" alt="">
		{% else %}
		<img class="card-img-top" src="http://placehold.it/700x400" alt="">
		{% endif %}
		<div class="card-body">
			<h4 class="card-title">{{ course.name }}</h4>
			<p class="card-text">{{ course.description }}</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-primary">Matricule-se</a>
		</div>
	</div>
</div>
{% endfor %} 
{% endblock %}

{% block pagination %}
{% include 'pagination.html' %}
{% endblock %}
