{% extends 'base.html' %} 

{% block breadcrumb %}
<li class="active">Courses</li>
{% endblock breadcrumb %} 

{% block content %}
	<!-- Page Heading -->
    <h1 class="my-4">Lista de Cursos</h1>

    {% for course in courses %}  
    <div class="row">
    	<div class="col-md-7">
    		<a href="#">
            	<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
          	</a>
        </div>
        <div class="col-md-5">
          	<h3>{{ course.name }}</h3>
          	<p>{{ course.description|linebreaks }}</p>
          	<a class="btn btn-primary" href="#">Ver detalhes do curso</a>
        </div>
	</div>
    <hr>
    {% endfor %}
	
{% endblock %}