{% extends "base.html" %} {% block breadcrumb %}
<li>
    <a href="{% url 'courses:course_list' %}">Courses</a>
</li>
<li class="active">Detail</li>
{% endblock breadcrumb %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Course Detail</h3>
            </div>
            <fieldset disabled>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" value="{{ course.name }}">
                    </div>
                    <div class="form-group">
                        <label>Created At</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"
                                    style="cursor:not-allowed;
                                           opacity: 0.6"></i>
                            </div>
                            <input type="text" class="form-control"
                                data-inputmask="'alias': 'dd/mm/yyyy'"
                                data-mask
                                value="{{ course.created_at }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <input class="form-control" name="category" value="{{ course.category }}">
                    </div>
                    <div class="form-group">
                        <label>Instructor</label>
                        <input class="form-control" value="{{ course.instructor }}">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" style="resize: none"
                            rows="6">{{ course.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input class="form-control" value="{{ course.image }}">
                    </div>
                    <div class="form-group">
                        <label>Keywords</label>
                        <input class="form-control"
                            value="{{ course.keywords_list }}">
                    </div>
                </div>
            </fieldset>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="text-right">
                    <a href="{% url 'courses:course_list' %}" class="btn btn-primary">
                        <i class="fa fa-chevron-left"></i> Return
                    </a>
                    <a href="{% url 'courses:course_edit' course.pk %}" class="btn btn-default">
                        <i class="fa fa-pencil"></i> Edit
                    </a>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                        <i class="fa fa-trash"></i> Remove
                    </button>
                </div>
            </div>
            <!-- /.box-footer -->
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the selected course?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No, take me back</button>
                <form action="{% url 'courses:course_delete' course.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Yes, I'm sure</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{% endblock content %}

{% block javascript %}
<script>
$(function() {
	// $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' });
	$('[data-mask]').inputmask();
})
</script>
{% endblock %}
