{% extends 'dashboard/dashboard.html' %}
{% load courses_tags %}
{% load widget_tweaks %}

{% block navigation_content %}
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="{{ course.name }}">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse"
      href="#collapseCourses" data-parent="#dashboard">
      <i class="fa fa-book" aria-hidden="true"></i>
      <span class="nav-link-text">{{ course.name }}</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseCourses">
      {% course_menu_units course %}
      <li>
        <a href="{% url 'courses:course_certificate' course.pk %}"><i class="fa fa-certificate" aria-hidden="true"></i> Certificado</a>
      </li>
    </ul>
  </li>
{% endblock %}
        
{% block content %}
  <div class="content-wrapper">
    <div class="container-fluid">
      {% block breadcrumbs %}
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'courses:dashboard' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'courses:course_units' course.pk %}">{{ course.name }}</a>
        </li>
        <li class="breadcrumb-item active">Aulas</li>
      </ol>
      {% endblock %}
      {% block content_page %}
      <div class="row">
        <div class="col-12">
          <h1>Aulas</h1>          
        </div>
      </div>      
      <div class="row">        
				  {% course_units course %}				
			</div>
			{% endblock %}
		</div>
	</div>
	
	<footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © Studere 2018</small>
      </div>
    </div>
  </footer>
    
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
{% endblock %}