            <div class="container-fluid">
                <!-- Start Page Content -->
                {% block container %}
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body"> This is some text within a card block. </div>
                        </div>
                    </div>
                </div>
                {% endblock %}
                <!-- End PAge Content -->
            </div>