<div class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-devider"></li>
        <li class="nav-label">Home</li>
        <li> 
          <a href="#" aria-expanded="false">
            <i class="fa fa-tachometer"></i>
            <span class="hide-menu">Dashboard</span>
          </a>          
        </li>
        <li>
          <a href="#" aria-expanded="false">
            <i class="ti-user"></i> 
            <span class="hide-menu">Profile</span>
          </a>
        </li>
<!--         <li><a href="#"><i class="ti-settings"></i> Settings</a></li> -->
        <li>
          <a href="#" aria-expanded="false">
            <i class="fa fa-power-off"></i> 
            <span class="hide-menu">Logout</span>
          </a>
        </li>        
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</div>