{% extends "base.html" %} {% block breadcrumb %}
<li>
    <a href="{% url 'instructors:instructor_list' %}">Instructors</a>
</li>
<li class="active">New</li>
{% endblock breadcrumb %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- Horizontal Form -->
        <form role="form" method="POST">
            {% csrf_token %}
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">New Instructor</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group {% if form.name.errors %} has-error {% endif %}">
                        <label for="name">Name</label>
                        <input class="form-control" name="name" placeholder="Name" value="{{ form.name.value|default:'' }}"> 
                            {% if form.name.errors %} 
                                {% for error in form.name.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %} 
                            {% endif %}
                    </div>
                    <div class="form-group {% if form.contact.errors %} has-error {% endif %}">
                        <label for="contact">Contact</label>
                        <input class="form-control" name="contact" placeholder="Contact" value="{{ form.contact.value|default:'' }}"> 
                            {% if form.contact.errors %} 
                                {% for error in form.contact.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %} 
                            {% endif %}
                    </div>
                    <div class="form-group {% if form.about.errors %} has-error {% endif %}">
                        <label for="about">About</label>
                        <textarea class="form-control" style="resize: none" rows="3" name="about" placeholder="About the instructor">{{ form.about.value|default:'' }}</textarea> 
                        {% if form.about.errors %} 
                            {% for error in form.about.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %} 
                        {% endif %}
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="text-right">
                        <div class="btn-group">
                            <a href="{% url 'instructors:instructor_list' %}" class="btn btn-default"> Cancel</a>
                            <button type="submit" name="saveandnew" value="Save and New" class="btn btn-default">Save and New</button>
                            <button type="submit" name="save" value="Save" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-footer -->
            </div>
        </form>
    </div>
</div>
{% endblock content %}