{% extends 'base.html' %} {% block breadcrumb %}
<li class="active">Instructors</li>
{% endblock breadcrumb %} {% block content %}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Instructors</h3>
                <div class="text-right">
                    <a href="{% url 'instructors:instructor_create' %}" class="btn btn-primary">New Instructor</a>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="instructors_table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>About</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>About</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
var table = $('#instructors_table').DataTable({
    'pagingType': 'full_numbers',
    'paging': true,
    'processing': true,
    'lengthChange': true,
    'searching': true,
    'ordering': true,
    'info': true,
    'autoWidth': false,
    'serverSide': true,
    'order': [[0,'asc']],
    'ajax': {
        'url': "{% url 'instructors:instructor_list' %}?type=json"
    },
    'columns': [
        {
            'data': 'name',
            'searchable': true,
            'render': function(data, type, row, meta) {
                if (type === 'display') {
                    var url = "{% url 'instructors:instructor_edit' 12345 %}".replace(/12345/, row.id);
                    data = '<a href=' + url + '>' + data + '</a>';
                }
                return data;
            }
        },
        {'data': 'contact', 'searchable': false},
        {'data': 'about', 'searchable': false}
    ]
})

$('.dataTables_filter input')
    .unbind()
    .bind('keyup change', function(e) {
        if (e.keyCode == 13 || this.value == "") {
            table.search(this.value).draw();
        }
    });    
</script>
{% endblock %}