{% extends "base.html" %} 

{% block breadcrumb %}
<li>
    <a href="{% url 'instructors:instructor_list' %}">Instructors</a>
</li>
<li class="active">Detail</li>
{% endblock breadcrumb %} 

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Instructor Detail</h3>
            </div>
            <fieldset disabled>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" 
                            value="{{ instructor.name }}">
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact</label>
                        <input type="email" 
                            class="form-control" 
                            value="{{ instructor.contact }}">
                    </div>
                    <div class="form-group">
                        <label for="about">About</label>
                        <textarea class="form-control" 
                            style="resize: none" 
                            rows="3">
                            {{ instructor.about }}
                        </textarea>
                    </div>
                </div>
            </fieldset>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="text-right">
                    <a href="{% url 'instructors:instructor_list' %}" 
                        class="btn btn-primary">
                        <i class="fa fa-chevron-left"></i> Return
                    </a>
                    <a href="{% url 'instructors:instructor_edit' instructor.pk %}" 
                        class="btn btn-default">
                        <i class="fa fa-pencil"></i> Edit
                    </a>
                    <button type="button" 
                        class="btn btn-default" 
                        data-toggle="modal" 
                        data-target="#modal-default">
                        <i class="fa fa-trash"></i> Remove
                    </button>
                </div>
            </div>
            <!-- /.box-footer -->
        </div>
    </div>
</div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" 
                    class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the selected instructor?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" 
                    data-dismiss="modal">No, take me back</button>
                <form 
                    action="{% url 'instructors:instructor_delete' instructor.pk %}" 
                    method="post">
                    {% csrf_token %}
                    <button type="submit" 
                        class="btn btn-primary">
                        Yes, I'm sure
                    </button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock content %}
