{% extends 'base.html' %}

{% block breadcrumb %}
<li class="active">Instructors</li>
{% endblock breadcrumb %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Instructors</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="instructors_table" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Contact</th>
                <th>About</th>
            </tr>
            </thead>
            <tbody>
                {% for instructor in instructor_list %}
                <tr>
                    <td><a href="{% url 'instructors:instructor_detail' instructor.pk %}">{{ instructor.name }}</a></td>
                    <td>{{ instructor.contact }}</td>
                    <td>{{ instructor.about }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>About</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock %}