<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
		<a class="nav-link" href="index.html"> 
			<i class="fa fa-fw fa-dashboard"></i> 
			<span class="nav-link-text">Dashboard</span>
		</a>
	</li>
	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
		<a class="nav-link" href="charts.html"> 
			<i class="fa fa-fw fa-area-chart"></i> 
			<span class="nav-link-text">Cursos</span>
		</a>
	</li>			
</ul>