{% extends "base.html" %} 

{% block breadcrumb %}
<li>
    <a href="{% url 'courses:course_list' %}">Courses</a>
</li>
<li class="active">New</li>
{% endblock breadcrumb %} 

{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- Horizontal Form -->
        <form role="form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">New Course</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group 
                        {% if form.name.errors %} has-error {% endif %}">
                        <label for="name">Name</label>
                        <input class="form-control" 
                            name="name" 
                            value="{{ form.name.value|default:'' }}"> 
                            {% if form.name.errors %} 
                                {% for error in form.name.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %} 
                            {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select name="category_list" 
                            class="form-control select2
                            {% if form.category.errors %} has-error {% endif %}">
                            <option></option> 
                            {% for category in categories %}
                            <option value="{{ category.id }}">{{ category }}</option>
                            {% endfor %}                            
                        </select>
                        {% if form.category.errors %} 
                            {% for error in form.category.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %} 
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Instructor</label>
                        <select name="instructor_list" 
                            class="form-control select2
                            {% if form.instructor.errors %} has-error {% endif %}">
                            <option></option> 
                            {% for instructor in instructors %}
                            <option value="{{ instructor.id }}">{{ instructor }}</option>
                            {% endfor %}                            
                        </select>
                        {% if form.instructor.errors %} 
                            {% for error in form.instructor.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %} 
                        {% endif %}
                    </div>
                    <div class="form-group 
                        {% if form.description.errors %} has-error {% endif %}">
                        <label for="description">Description</label>
                        <textarea class="form-control" 
                            style="resize: none" 
                            rows="3" 
                            name="description">
                            {{ form.description.value|default:'' }}
                        </textarea> 
                        {% if form.description.errors %} 
                            {% for error in form.description.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %} 
                        {% endif %}
                    </div>
                    <div class="form-group 
                        {% if form.image.errors %} has-error {% endif %}">
                        <label for="image">Image</label>
                        <input type="file" 
                            style="resize: none" 
                            name="image"
                            id="image-id"
                            value="{{ form.image.value }}">
                        {% if form.image.errors %} 
                            {% for error in form.image.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %} 
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="keywords">Keywords</label>
                        <input class="form-control tags"
                            name="keywords">
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="text-right">
                        <div class="btn-group">
                            <a href="{% url 'courses:course_list' %}" 
                                class="btn btn-default"> 
                                Cancel
                            </a>
                            <button type="submit"                                 
                                name="saveandnew" 
                                value="Save and New" 
                                class="btn btn-default">
                                Save and New
                            </button>
                            <button type="submit" 
                                name="save" 
                                value="Save" 
                                class="btn btn-primary">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-footer -->
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    $('.tags').tagsInput({
        'defaultText': '',
        'width': '100%' 
    });
</script>
{% endblock %}